:root {
 --phpunit-breadcrumbs: #000000;
 --phpunit-success-bar: #28a745;
 --phpunit-success-high: #baffa9;
 --phpunit-success-medium: #95ff68;
 --phpunit-success-low: #28a745;
 --phpunit-warning: #ffd500;
 --phpunit-warning-bar: #ffc107;
 --phpunit-danger: #ff4040;
 --phpunit-danger-bar: #ff0000;
}

a {
	color: rgb(51, 162, 255);
}

hr {
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-top-color: rgba(140, 130, 115, 0.1);
}

body {
    font-family: sans-serif;
    font-size: 1em;
    font-kerning: normal;
    font-variant-ligatures: common-ligatures;
    text-rendering: optimizeLegibility;
    padding-top: 10px;
    color: rgb(209, 205, 199);
    background-color: rgb(24, 26, 27);
}

nav .breadcrumb {
  border-radius: var(--bs-border-radius);
  background-color: var(--phpunit-breadcrumbs);
  padding: .75rem 1rem;
}

.popover {
 max-width: none;
}

.popover-body {
 max-height: 90vh;
 overflow-y: auto;
}

.octicon {
 margin-right:.25em;
 vertical-align: baseline;
 width: 0.75em;
}

.table-bordered>thead>tr>td {
 border-bottom-width: 1px;
}

.table tbody>tr>td, .table thead>tr>td {
 padding-top: 3px;
 padding-bottom: 3px;
 background-color: #000000;
 color: white;
}

.table-condensed tbody>tr>td {
 padding-top: 0;
 padding-bottom: 0;
}

.table .progress {
 margin-bottom: inherit;
}

.table-borderless th, .table-borderless td {
 border: 0 !important;
}

.table tbody tr.covered-by-large-tests, .table tbody tr.covered-by-large-tests td, li.covered-by-large-tests, tr.success, tr.success td, td.success, li.success, span.success {
 background-color: var(--phpunit-success-low);
 color: black;
}

.table tbody tr.covered-by-medium-tests, .table tbody tr.covered-by-medium-tests td, li.covered-by-medium-tests {
 background-color: var(--phpunit-success-medium);
 color: black;
}

.table tbody tr.covered-by-small-tests, .table tbody tr.covered-by-small-tests td, li.covered-by-small-tests {
 background-color: var(--phpunit-success-high);
 color: black;
}

.table tbody tr.warning, .table tbody tr.warning td, .table tbody td.warning, li.warning, span.warning {
 background-color: var(--phpunit-warning);
}

.table tbody tr.danger, .table tbody tr.danger td, .table tbody td.danger, li.danger, span.danger {
 background-color: var(--phpunit-danger);
}

.table tbody td.info {
 background-color: rgb(from var(--bs-info) r g b / 0.25);
 color: black;
}

td.big {
 vertical-align: middle;
 width: 117px;
}

td.codeLine {
 font-family: "Source Code Pro", var(--bs-font-monospace);
 white-space: pre-wrap;
}

td span.comment {
 color: var(--bs-secondary-color);
}

td span.default {
 color: #000000;
}

td span.html {
 color: var(--bs-secondary-color);
}

td span.keyword {
 color: var(--bs-body-color);
 font-weight: bold;
}

pre span.string {
 color: var(--bs-body-color);
}

span.success, span.warning, span.danger {
 margin-right: 2px;
 padding-left: 10px;
 padding-right: 10px;
 text-align: center;
}

#toplink {
 position: fixed;
 left: 5px;
 bottom: 5px;
 outline: 0;
}

svg text {
 font-family: var(--bs-font-sans-serif);
 font-size: 11px;
 color: var(--bs-gray);
 fill: var(--bs-gray);
}

.scrollbox {
 height:245px;
 overflow-x:scroll;
 overflow-y:scroll;
}

table + .structure-heading {
 border-top: 1px solid var(--bs-gray-200);
 padding-top: 0.5em;
}

table#code td:first-of-type {
  padding-left: .75em;
  padding-right: .75em;
}

table#code td:first-of-type a {
  text-decoration: none;
}

.legend {
 font-weight: bold;
 margin-right: 2px;
 padding-left: 10px;
 padding-right: 10px;
 text-align: center;
}

.covered-by-small-tests {
 background-color: var(--phpunit-success-high);
 color: #000;
}

.covered-by-medium-tests {
 background-color: var(--phpunit-success-medium);
 color: #000;
}

.covered-by-large-tests {
 background-color: var(--phpunit-success-low);
 color: #000;
}

.not-covered {
 background-color: var(--phpunit-danger);
 color: #ffffff;
}

.not-coverable {
 background-color: var(--phpunit-warning);
 color: #ffffff;
}

.progress-bar.bg-success {
 background-color: var(--phpunit-success-bar) !important;
}

.progress-bar.bg-warning {
 background-color: var(--phpunit-warning-bar) !important;
}

.progress-bar.bg-danger {
 background-color: var(--phpunit-danger-bar) !important;
}

.table tbody tr.covered-by-large-tests, li.covered-by-large-tests, tr.success, td.success, li.success, span.success {
    background-color: rgb(41, 60, 23);
}

.bs-popover-auto[x-placement^="top"] > .arrow::before, .bs-popover-top > .arrow::before {
    border-top-color: rgba(140, 130, 115, 0.25);
}

.bs-popover-auto[x-placement^="top"] > .arrow::after, .bs-popover-top > .arrow::after {
    border-top-color: rgb(48, 52, 54);
}

.popover {
	text-decoration-color: initial;
    text-shadow: none;
    background-color: rgb(24, 26, 27);
    border-color: rgba(140, 130, 115, 0.2);
}

.popover-header {
	background-color: rgb(29, 31, 32);
    border-bottom-color: rgb(54, 58, 60);
}

.popover-body {
	color: rgb(209, 205, 199);
}


.breadcrumb {
	background-color: rgb(35, 38, 39);
}

.breadcrumb-item.active {
	color: rgb(158, 150, 137);
}

.table {
	color: rgb(209, 205, 199);
    background-color: rgb(24, 26, 27);
}

.table-bordered {
    border-color: rgb(56, 61, 63);
    background-color: rgb(24, 26, 27);
}

.table-bordered td, .table-bordered th {
    border-color: rgb(56, 61, 63);
}

.table thead th {
	border-bottom-color: rgb(56, 61, 63);
}

.table td, .table th {
    border-top-color: rgb(56, 61, 63);
}

.table tbody tr.covered-by-large-tests, li.covered-by-large-tests,
tr.success, td.success, li.success, span.success {
    background-color: rgb(41, 60, 23);
}

.table tbody tr.warning, .table tbody td.warning, li.warning, span.warning {
    background-color: rgb(47, 40, 5);
}

.table tbody tr.danger, .table tbody td.danger, li.danger, span.danger {
    background-color: rgb(56, 22, 22);
}

.table tbody tr.covered-by-medium-tests, li.covered-by-medium-tests {
    background-color: rgb(41, 64, 32);
}

.table tbody tr.covered-by-small-tests, li.covered-by-small-tests {
    background-color: rgb(62, 82, 54);
}

.progress {
    background-color: rgb(35, 38, 39);
}

.bg-success {
    background-color: rgb(32, 134, 55) !important;
}

.bg-warning {
    background-color: rgb(150, 112, 0) !important;
}

.bg-danger {
    background-color: rgb(165, 29, 42) !important;
}

td span.default {
    color: rgb(255, 255, 255);
}

td span.comment {
    color: rgb(157, 148, 135);
}

td span.keyword {
    color: rgb(255, 255, 255);
    font-weight: bolder;
}
